{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- Burda yazdiginiz block adlari ile basede qeyd ettiyiniz block adlari eyni olmalidir UNUTMA bunu eyni olmalidir her iki yerde block adlari -->
{% endblock css %}


{% block title %}Movies Page{% endblock title %}


{% block content %}
<div id="wrapper">

    {% include "sidebar.html" %}

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            {% include "navbar.html" %}

            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3">
                    <h1 class="h5 mb-0 text-gray-900">Movies</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Reset Filters <i
                            class="fas fa-times fa-sm text-white-50"></i></a>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="row">
                            {% for movie in movies_active %}
                                <div class="col-xl-4 col-md-6 mb-4">
                                    {% include "movie.html" %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="text-center mt-1 mb-4 col-12">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
        {% include 'footer.html' %}
    </div>

</div>








{% endblock content %}


{% block scripts %}
{% endblock scripts %}