<div class="row">
    <div class="control-group form-group col-lg-4 col-md-4">
        <div class="controls">
            <label>Your Name
                <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required="" />
        </div>
    </div>
    <div class="control-group form-group col-lg-4 col-md-4">
        <div class="controls">
            <label>Your Email
                <span class="text-danger">*</span></label>
            <input type="email" class="form-control" required="" />
        </div>
    </div>
    <div class="control-group form-group col-lg-4 col-md-4">
        <div class="controls">
            <label>Rating <span class="text-danger">*</span></label>
            <select class="form-control custom-select">
                <option>1 Star</option>
                <option>2 Star</option>
                <option>3 Star</option>
                <option>4 Star</option>
                <option>5 Star</option>
            </select>
        </div>
    </div>
</div>
<div class="control-group form-group">
    <div class="controls">
        <label>Review <span class="text-danger">*</span></label>
        <textarea rows="3" cols="100" class="form-control"></textarea>
    </div>
</div>